[Unit]
Description=Проверять приходы TON каждые 5 минут

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
AccuracySec=30s
Unit=tg-music-ton-check.service

[Install]
WantedBy=timers.target
